/* Margins */ 
.well,figure.photo,section,section.body-text,section.end-notes,section.graphic {
   max-width: 650px;
   margin-left: auto;
   margin-right: auto
}

.well.wide,figure.wide.photo,section.wide {
   max-width: 800px
}

.well.wider,figure.wider.photo,section.referral-container,section.wider {
   max-width: 1200px
}

.well.widest,figure.widest.photo,section.hero-title,section.widest {
   max-width: 100%
}

.well.fluid,figure.fluid.photo,section.fluid {
   width: 100vw;
   margin-left: -15px;
   max-width: none
}


/* Font */ 
.paragraph-size,section.body-text ol,section.body-text p,section.body-text ul,section.graphic p {
   font-size: 1.3rem;
   line-height: 2.1rem
}

.end-notes li.paragraph-size,.end-notes section.body-text ul,.end-notes ul.paragraph-size,.paragraph-size.font-sans,figure.photo figcaption.paragraph-size,section.body-text .end-notes ul,section.body-text.font-sans p,section.body-text ol.font-sans,section.body-text p.font-sans,section.body-text section.end-notes p,section.body-text section.headline p,section.body-text section.hero-title .title p,section.body-text section.referral-container .referral p,section.body-text ul.font-sans,section.end-notes h2.paragraph-size,section.end-notes h3.paragraph-size,section.end-notes h4.paragraph-size,section.end-notes h5.paragraph-size,section.end-notes h6.paragraph-size,section.end-notes p.paragraph-size,section.end-notes section.body-text p,section.graphic p,section.graphic section.hero-title .title p,section.graphic section.referral-container .referral p,section.headline p.paragraph-size,section.headline section.body-text p,section.hero-title .title h2.paragraph-size,section.hero-title .title p.paragraph-size,section.hero-title .title section.body-text p,section.hero-title .title section.graphic p,section.paragraph-size.graphic,section.referral-container .referral p.paragraph-size,section.referral-container .referral section.body-text p,section.referral-container .referral section.graphic p {
   font-size: 1.1rem;
   line-height: 1.75rem
}



/* Centers name */ 
.article-metadata {
   padding: 40px 0;
   font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
   text-align: center
}






/* Background Color */ 

body {
   background-color: #212121
}

/* Text Color */

body,h1,h2,h3,h4,h5,h6,section p {
   color: #dedcdc
}

/* Name Color */ 
.article-metadata .byline a,.article-metadata .dateline-container {
   color: #fff
}

.slider-block {
   margin: 1rem 0
}

.slider-block div {
   text-align: left
}






/* CENTERS THE TEXT AND IMAGE*/  

body {
   position: relative;
   overflow-x: hidden
}

.header {
   margin-top: 2rem
}

.header * {
   font-family: Knowledge,Source Sans Pro,Arial,sans-serif
}

.header h1 {
   font-size: 3rem;
   margin-bottom: 4px
}

.header p {
   max-width: 600px;
   margin: 0 auto;
   font-size: 1.7rem
}

.sim-container {
   text-align: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   position: relative;
   margin-bottom: 2rem
}

.sim-container .restart {
   width: 100%;
   margin: 1rem 0;
   position: absolute;
   top: 20px;
   cursor: pointer
}

@media (max-width: 1024px) {
   .sim-container .restart {
       position:absolute;
       top: 0!important
   }
}




/* THE HEADER IMAGE THINGY */ 
#topper-container {
   overflow: hidden;
   margin-top: -10.8px
}

#topper-container .topper-text {
   position: absolute;
   top: 40%;
   transform: translateY(-40%);
   text-shadow: 1px 1px 6px rgba(33,33,33,.6),1px 1px 6px rgba(33,33,33,.6),0 -1px 0 rgba(33,33,33,.44),-1px 0 0 rgba(33,33,33,.44)
}

#topper-container .topper-text h1,#topper-container .topper-text p {
   color: #fff!important
}

#topper-container .topper-text h1 {
   font-size: 4rem
}

@media (max-width: 768px) {
   #topper-container .topper-text {
       top:40%;
       transform: translateY(-40%)
   }

   #topper-container .topper-text h1 {
       font-size: 3rem
   }

   #topper-container .topper-text p {
       font-size: 1.4rem
   }
}

#topper-container .label-special {
   display: none
}

#topper-container #topper {
   margin: 0;
   height: 100vh;
   max-height: 800px
}

.graphic-note {
   text-shadow: 1px 1px 6px #212121,1px 1px 6px #212121,0 -1px 0 #212121,-1px 0 0 #212121;
   text-align: right;
   font-weight: 300
}

.graphic-note,.graphic-note * {
   font-size: .9rem;
   font-family: Knowledge,Source Sans Pro,Arial,sans-serif
}

.compare .compare-ticker {
   margin: .5rem auto;
   font-size: 1rem;
   font-family: Knowledge,Source Sans Pro,Arial,sans-serif;
   font-weight: 400
}

.compare h5 {
   margin: 0 auto
}

.compare p {
   margin: .2rem auto;
   font-family: Knowledge,Source Sans Pro,Arial,sans-serif;
   font-weight: 300
}


#main-sim .restart {
   top: 60px;
   position: relative
}

@media (max-width: 1024px) {
   #main-sim .restart {
       top:0!important
   }
}

#main-sim .label-special {
   display: none
}

#impacts-grid {
   position: relative
}

#impacts-grid .herd-sim-label {
   display: none
}

#impacts-grid .restart {
   position: relative
}


#impacts-grid .herd-sim-container {
   padding-top: 50px
}

@media (max-width: 1024px) {
   #impacts-grid div[data-special=distance] img {
       bottom:13px
   }

   #impacts-grid .herd-sim-container {
       padding-top: 10px
   }
}


@media (max-width: 767px) {
   .hide-on-desktop-video {
       display:block
   }

   .hide-on-phone-video {
       display: none
   }
}

.hide-on-desktop {
   display: none
}

#topper video {
   width: 100%;
   pointer-events: none
}

#play-section {
   margin-top: 90px
}

#before-model {
   padding-bottom: 90px;
   border-bottom: 1px solid #dededc
}

.slider-block .slider-label {
   font-family: Knowledge,Source Sans Pro,Arial,sans-serif
}

.slider-block .value-text {
   font-weight: 700
}

* {
   overflow-x: hidden
}

.label-special,div {
   overflow-y: hidden
}

.only-embed,.restart {
   display: none
}

body.child-frame .only-embed {
   display: block
}


/* Generate hearts */ 

.heart {
   width: 100px; /* Adjust size as needed */
   height: 100px; /* Adjust size as needed */
   display: inline-block;
   position: absolute; 
   left: 50%; /* Center horizontally */
   transform: translateX(-50%); /* Adjust horizontally for centering */
   bottom: 0; /* Start off-screen or at the bottom */
   -webkit-mask: radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left, radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right, linear-gradient(to bottom left, red 43%, transparent 43%) bottom left, linear-gradient(to bottom right, red 43%, transparent 43%) bottom right;
   -webkit-mask-size: 50% 50%;
   -webkit-mask-repeat: no-repeat;
   mask: radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left, radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right, linear-gradient(to bottom left, red 43%, transparent 43%) bottom left, linear-gradient(to bottom right, red 43%, transparent 43%) bottom right;
   mask-size: 50% 50%;
   mask-repeat: no-repeat;
   background: linear-gradient(#880808, #880808);
   animation: stayAndFade 10s ease-out forwards; /* Use the new animation */
}

.heart::before {
   content: "";
   display: block;
   padding-top: 100%;
}

@keyframes stayAndFade {
   0%, 50% {
       bottom: 90%; /* Position hearts at the top */
       opacity: 1; /* Fully visible */
   }
   100% {
       bottom: 90%; /* Stay at the top */
       opacity: 0; /* Then fade away */
   }
}


#scatterplot-container {
   width: 100%; /* Use full width of its container */
   height: 1400px; /* Use full height of its container */
   display: flex; /* Use flexbox layout */
   align-items: center; /* Center vertically */
}

#scatterplot {
   width: 100%; /* Use full width */
   height: 100%; /* Use full height */
   display: block; /* Ensure block display */
}